nav {
  display: inline;
  width: 100vw;
  height: 60px;
  float: left;
  background: white;
}

.logo-img {
  display: grid;
  float: left;
  width: 100px;
  margin: 0px 100px 0 20px;
}

.navbar__menu {
  display: inline;
  list-style-type: none;
}
li {
  float: left;
}
li a {
  color: #ffba94;
  float: left;
  padding: 8px;
  margin: 0px 45px 0 0;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.BG {
  display: grid;
  background: #fff7ef;
  height: 100vh;
  width: 100vw;
}

.container{
  display: grid;
  margin: 7%;
}

.container2{
  display: grid;
  margin: 3%;
}
.BOX {
  width: 100%;
  height: 100%;
  background: #ffffff;
  border-radius: 25px;
}

.addBox {
  width: 200px;
  height: 200px;
  background: #ffffff;
  border-radius: 10px;
  margin-left: 48%;
  margin-top: 8%;
}

.column {
  flex-direction: column;
  float: left;
  margin: 15px 3% 0 15px;
  width: 25%;
  height: 50%;
}

.text {
  position: absolute;
  width: 282px;
  height: 43px;
  left: 800px;
  top: 220px;

  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 43px;
  text-align: center;

  color: #ffba94;
}

.Text1 {
  color: rgb(125, 125, 125);
  font-size: 15px;
  font-weight: bold;
  line-height: 40px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  margin: 0 20px 0 10px;
}

.Line1,
.Line2,
.Line3,
.Line4 {
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 8px 10px 0;
}

.Write1 {
  border-radius: 8px;
  border-color: transparent;
  width: 100px;
  height: 25px;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
}

.Write2 {
  border-radius: 8px;
  border-color: transparent;
  width: 145px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write3 {
  border-radius: 8px;
  border-color: transparent;
  width: 500px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write4 {
  border-radius: 8px;
  border-color: transparent;
  width: 286px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write5,
.Write6 {
  border-radius: 8px;
  border-color: transparent;
  width: 121px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write7 {
  border-radius: 8px;
  border-color: transparent;
  width: 212px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write8 {
  border-radius: 8px;
  border-color: transparent;
  width: 394px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.Write9 {
  float: left;
  border-radius: 8px;
  border-color: transparent;
  width: 221px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
}

.Write10 {
  border-radius: 8px;
  border-color: transparent;
  width: 145px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: left;
}

.Write11 {
  border-radius: 8px;
  border-color: transparent;
  width: 43px;
  height: 25px;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
  text-align: center;
}

.textArea {
  width: 590px;
  height: 250px;
  border: none;
  border-radius: 8px;
  resize: none;
  font-family: 'Spoqa Han Sans Neo';
  font-weight: 10px;
}

.File {
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: absolute;
  margin: 200px;
}

.Wrap {
  display: flex;
  flex-direction: row;
  padding-top: 15px;
  padding-bottom: 15px;
}

.buttonR {
  background-color: #ffa574;
  color: white;
  font-family: 'Spoqa Han Sans Neo';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  font-size: 14px;
  padding: 10px 25px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.Wraps {
  text-align: center;
  margin: 30px auto;
}

.buttonR:hover {
  background-color: #fad4b2;
}
