.rvPostContainer{
  background: #fff7ef;
  display: flex;
  height: 90%;
  width: 100%;
  scroll-snap-align: start;
  }

.rvPostBG{
    background: #FFF7EF;
    width: 100vw;
    height: 100vh;
}

.rvBox{
    width: 1400px;
    height: 700px;
    background: #FFFFFF;
    border-radius: 25px;
    position: absolute;
    top : 60%;
    left : 50%;
    transform : translate(-50%, -50%);
  }

.navbar {
  display: inline;
  width: 100vw;
  height: 60px;
  float: left;
  background: white;
}

.logo-img {
  display: grid;
  float: left;
  width: 100px;
  margin: 0px 100px 0 20px;
}

table.type1{
 width : 1220px;
 height : 80px;
 text-align : center;
 font-family: 'Spoqa Han Sans Neo';
 font-size : 18px;
 color: #424242;
}

hr.line{
  width : 530px;
  margin-left : 120px;
  color :  #424242;
}

hr.line2{
  width : 530px;
  margin-left : 120px;
  color: #FFBA94;
}

.review_img{
 width : 170px;
 height : 160px;
 margin-left : 90px;
 margin-top : 20px;
}

.featehr_img{
 margin-left : 100px;
}