.navbar {
width: 1920px;
height: 80px;
left: 0px;
right: 0px;
background: #FFBA94;
overflow: hidden;
}

.navbar__logo {
color: white;
font-size: 20px;
text-align: left;
text-decoration: none;

}

.navbar__menu {
list-style-type : none;
margin: 0;
padding: 0;
overflow: hidden;
}
li { float: left; }
li a {
display: block;
color: white;
padding: 8px;
text-decoration: none;
text-align: left;
font-weight: bold;
font-size: 20px;
}