<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>register_menu</title>
        <script src="{{ url_for('static', filename='JS/main.js') }}" defer></script>
    </head>
    <body>
        <form action="/submit_menu_post" method="post" enctype="multipart/form-data">
            <div><br><br>
                <label for="name">식당이름 : {{data.restaurant_name}}</label>
                <br><br>
            </div>
            <div><br><br>
                <label for="name">메뉴명</label>
                <input type="text" name="menu" id="name" required>
                <label for="price">가격</label>
                <input type="text" name="price" id="price" required>
                <label for="allergy">알러지 정보</label>
                <input type="text" name="allergy" id="allergy" required>
                <br><br>
            </div>
            <div>
                <label for="img">음식 사진 업로드</label>
                <input type="file" name="file" id="img"/><br><br>
            </div>
            <div>
                <input type="submit" value="메뉴 등록">
                <br><br>
            </div>
        </form>
        <form method="post" action="/register_bestmenu">
            <input type="hidden" name="restaurant_name" value="{{data.restaurant_name}}">
            <div>
                <button type="submit" name="menu">대표 메뉴 등록</button><br><br>
            </div>
        </form>
    </body>
</html>