<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>register_menu</title>
    <link rel="stylesheet"
        href="{{ url_for('static', filename='css/bestmenupost.css') }}"/>
    <script src="{{ url_for('static', filename='JS/main.js') }}" defer></script>
</head>
<body>
    <form action="/result" method="post" enctype="multipart/form-data">

    <div class="postContainer">
        <div class = "postRestaurantBG">
            <div class="text">{{data.name}} 대표 메뉴 등록하기</div>
            <div class="column">
                    <div class="BOX">
                            <div>
                                <label for="img1"></label>
                                <input type="file" name="file" id="img1"/>
                            </div>
                    </div>
           </div>
        </div>
        <div class="Container">
            <label class="Text1" for="bestmenuname">메뉴명</label>
            <input class="Write9" type="text" name="bestmenuname" id="bestmenuname" required/>
            <br>
            <label class="Text1" for="bestmenuprice">가격</label>
            <input class="Write10" type="text" name="bestmenuprice" id="bestmenuprice" required/>

        </div>
             <!--
                <div class="text">대표 메뉴 등록하기</div>
                    <div class="addBox">
                            <div>
                                <label for="img2"></label>
                                <input type="file" name="file2" id="img2"/>
                            </div>
                    </div>

                    <div class="Line5">
                    <label class="Text1" for="bestmenuname">메뉴명</label>
                    <input class="Write9" type="text" name="bestmenuname" id="bestmenuname" required/>
                </div>
                <div class="Line6">
                    <label class="Text1" for="bestmenuprice">가격</label>
                    <input class="Write10" type="text" name="bestmenuprice" id="bestmenuprice" required/>
                </div>
            -->

        </div>

        <div class="Wraps">
                    <input class="buttonR" type='submit' value='등록하기'/>
        </div>
    </form>
</body>
</html>