<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content = width=device-width, initial-sclae=1.0">
    <title>Title</title>
    <link rel = "stylesheet" href="{{ url_for('static', filename='css/reviewpost.css')}}"/>
    <script src="{{ url_for('static', filename='JS/main.js') }}" defer></script>
</head>
<body>
    <nav class="navbar">
      <a href="/" style="float: left;">
        <img src="{{ url_for('static', filename='img/logo.png') }}" class="logo-img" >
      </a>
    </nav>
    <div class="rvPostContainer">
        <div class="rvPostBG">
            <div class="rvBox">
            </div>
        </div>

    </div>

</body>
</html>